:root {
  --darkBlueBackground: rgb(32, 33, 49);
  --blueText: rgb(59 130 246);
  --whiteText: #ffffff;
  --navbar: rgb(132, 183, 249);
  --navText: #000;
}

body {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--darkBlueBackground);
  /* color: var(--blueText); */
  /* overflow: hidden; */
  margin: 0;
}

/* ::grammar-error {
  text-decoration: overline;
} */

.navProjects {
  float: right;
}
/* new navbar CSS code */
#navbar {
  overflow: hidden;
  background: var(--blueText);
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 12px 10px;
  font-size: 17px;
}

#navbar a:hover {
  /* background-color: #000; */
  background-color: var(--darkBlueBackground);
  color: var(--navbar);
}

#navbar a.active {
  background-color: blue;
  color: white;
}
a {
  text-decoration: none;
}
/* Old navbar CSS code */
/* selector property value  */
/* a {
  float: left;
  text-decoration: none;
  display: block;
  color: var(--navText);
  color: var(--navText);
  font-size: 1.5em;
} */

/* .nav {
  position: sticky;
  background-color: var(--blueText);
  border-radius: 7px;
  width: 100%;
} */

/* a:hover {
  background-color: lightcoral;
  color: var(--darkBlueBackground);
  border-radius: 6px;
} */

/* .main-container {
  margin: 0;
  padding: o;
  border: 0;
} */

/* ============== */
/* ============== */
/* header content */
h1 {
  text-align: center;
  color: var(--blueText);
  font-size: 2rem;
}

h2 {
  color: #a99fff;
  text-align: center;
  font-size: 1.3rem;
}

#projectsLink {
  float: right;
}
/* ================= */
/* ================= */
/* ================= */
/* paragragh content starts */
.para-content {
  padding-left: 7%;
  padding-right: 7%;
}

p {
  text-align: center;
  color: var(--whiteText);
}
